*{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    display: grid;
    /* grid-template-columns: 75px 75px 75px 75px */
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 150px repeat(5,75px);
    background: #00916e;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 5px 5px #00000033;
}

.pantalla{
    
    grid-column: span 4;
    border-radius: 17px;
    margin: 17px 7px;
    padding: 17px;
    background-color: #363636;
    text-align: right;
    box-shadow: 0px 0px 0px 7px #00000033;
    color: aquamarine;
    font-size:20px;
    

    

    
}

button{
    margin: 5px;
    padding: 0;
    border-radius: 50px;
    border: none;
    background: #019e79;
    box-shadow:  5px 5px 1px -2px #00000040;
    cursor: pointer;
    font-size: 20px
}



button:active{
    background: wheat;
}



.btn-cero{
    grid-column: span 2;
}

body{
    background: #224870;
}